
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(..../assets/images/cinema.jpg);">
  <div class="container">
    <h1>All your Lists</h1>
    <p>Create your own lists and bookmarks</p>
    <a class="btn btn-primary" href=new_list_path>Create a list</a>
  </div>
</div>
<div class="container">
  <div class="container-2">
    <div class="d-flex flex-wrap justify-content-center">
      <% @lists.each do |list|%>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to list.name, list_path(list) %>
          <%= link_to "",
              list_path(list),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "fa-solid fa-trash" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
